html,body{
  margin: 0;
  padding: 0;
  position: relative;
}

h1 {
  font-size: 3rem;
  text-align:center;
  margin: auto;
}

h2 {
  font-size: 2rem;
}

p {
  position:absolute;
  top:500px;
}

#button {
  color: white;
  background-color:blue;
  display: inline-block;
  position:absolute;
  left:10%;
  border-radius: 50px;
  top:30px;
  padding:0.5em;
  font-size:3rem;
  margin: auto;
  text-transform: uppercase;
}

#button:hover {
  cursor:pointer;
}