@font-face {
  font-family: 'PressStart2P';
  src: url('./PressStart2P-Regular.ttf');
}

h1 {
  text-align: center;
  font-family: 'PressStart2P';
  font-size: 30px;
}

/* 
  Margem: a margem de um elemento define, a partir da borda, um espaçamento para fora do elemento. 
  Padding: o padding de um elemento define, a partir da borda, um espaçamento para dentro do elemento.

  Ou seja: o padding 'estica' um elemento. O margin aumenta a distância entre um elemento e a próxima parte da página.
*/


#primeira {
  background-color: red;
  height: 100px;
  margin-top: 50px; /* Espaçamento de 50px para fora, direção top. */
  margin-bottom: 50px;
}

#segunda {
  background-color: blue;
  height: 100px;
  margin-bottom: 50px;
  padding-bottom: 30px; 
  padding-top:50px;
  padding-left:1200px; /* Observe que o texto da div vai para a direita. Isso é porque, na borda esquerda da div, foi feito um 'esticamento'. Perceba que a propriedade 'text-align' não está sendo utilizada.*/
  color: white;
  font-family:'PressStart2P'
}

#terceira {
  background-color: green;
  height: 100px;
}

.nav {
  font-family:'PressStart2P';
  text-decoration: none;
  margin-right: 50px;
}