#inicio-pagina {
    background-color: red;
} 
/* O '#' indica que o CSS vai buscar, no documento HTML, o elemento cuja id é o mesmo do nome que vem em seguida. */
/* Sendo assim, é importante pensar que o 'id' é um identificador único. */ 

.minha-classe{
    background-color:pink;
    color:hotpink;
}
/* o '.' indica que o CSS vai buscar, no documento HTML, os elementos cujo atributo 'class' é o mesmo do nome que vem em seguida. */ 
/* Sendo assim, o 'class', como o nome diz, classifica os elementos HTML. */ 

#preguica{
    color: #FF0000; /* Esse #FF0000 está utilizando o conceito de RGB. Os dois primeiros */
                      /* caracteres indicam o Red, os dois do meio indicam o Green e os */
                      /* dois últimos indicam o blue.*/

    background-color: rgb(190,200,255); /* o 'rgb' também utiliza, obviamente, o conceito de RGB.*/
                                         /* Ele recebe, como parâmetros, os valores de R,G e B, nesta ordem, entre 0 e 255.*/
}

#duvida {
    color: rgba(255,20,30,0.5); /* O rgba também usa o conceito de transparência. O 'a' indica a*/
                                  /* transparência. Ele pode receber um valor entre 0 e 1, onde 0 é */
                                  /* totalmente transparente e 1 é totalmente não-transparente.*/
}

.estudando-background1{
    height: 100vh; /* Tamanho do elemento pertencente a esta classe */
    width: 100vw; /*  Largura do elemento pertencente a esta classe */ 
    /* background-color: aquamarine; Cor de fundo */
    /* background-image: url('./images/warriors.png') /* Imagem de fundo */ 
    background-color: lightgreen;
}

body{
    background-image: url('./images/warriors.png');
    /* background-size:contain; */ /* Estica a imagem*/
    /* background-size:auto; */ /* Repete a imagem */
    /* background-size:cover; */ /* Imagem estica mas contem o elemento inteiro  */
    background-repeat: no-repeat; /*imagem não se repete */
    /* background-repeat:repeat-x; */ /* imagem se repete apenas nas abscissas */
    /* background-repeat: repeat-y; */ /* imagem se repete apenas nas ordenadas */
    /* background-repeat: repeat; */ /* imagem se repete em x e y */ 
    /* background-position: top,left,right, bottom ; */ /* posiciona o background em um dos parametros descritos, sempre em relação ao elemento, no caso, body*/
    /* background-attachment: fixed; */ /* "prende" o bg */
    /* background: linear-gradient(to left,purple 27%,orange 55%,red 70%);*/  /*Linear gradient: faz um "degrade", direção é de acordo com o primeiro argumento,  */ 
}   
/* UNIDADES DE MEDIDA FIXAS
 * cm
 * mm
 * in (polegada)
 * *** OBS: USAR AS 3 ACIMA QUANDO O HTML FOR CONVERTIDO PARA PAPEL(PDF A4, POR EXEMPLO) *** 
 * px (pixel)
 * pt (ponto)
 * pc (pica)
 */

 /* UNIDADES DE MEDIDA RELATIVAS
  * vw: largura (width) relativa à viewport
  * vh: altura (height) relativa à viewport
  * qtd%: qtd é um inteiro, isso tudo indica que a classe(ou id) filha ocupará qtd% do elemento pai
  */

#foto-batman{
    width:70vw;
    height:70vh;
}

#estudando-fontes {
  font-size: 50px;
}

#fonte1 {
  font-size: 100px; /* O atributo font-size dá um tamanho fixo para a fonte. */
}

#fonte2 {
  font-size: 0.5em; /* O x"em" indica que a fonte vai ser x vezes o tamanho da fonte do componente pai. */
}

#fonte3 {
  font-size: 6rem; /* O "rem" indica que a unidade de medida faz referência ao elemento raíz do documento html, isto é, a própria tag html. */
}

html {
  font-size: 10px; /* No caso, todos os textos da página vão ter esse tamanho, a não ser que algo seja especificado. */
}