html,
body {
  margin: 0;
  padding: 0;
}

#topbar {
  background-color: red;  
  height: 3em;
  padding: 1em;
  text-align: center;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

#quadro {
  /* Posição relativa apenas para testar a posição absoluta.*/
  position: relative;
  margin: auto;
  width:500px;
  height: 1200px;
  border-style:solid;
}

.quadrado {
  width: 100px;
  height: 100px;
}

.quad-red {
  background-color:red;
  /* O position: fixed faz com que o elemento fique posicionado em relação à viewport.
     Perceba que, ao mudar o tamanho da tela, o quadrado vermelho não muda de lugar(relativamente à viewport).*/
  position: fixed;
  left: 1em;
}
.quad-blue {
  /* O 'position: relative' faz com que o posicionamento do elemento passe a ser relativo ao seu posicionamento padrão.
     Perceba que, diferentemente de usar margin, os elementos ao redor do elemento em questão não tem seus respectivos posicionamentos afetados.*/
  
  /* Além disso, a margem também é relativa ao elemento em sua posição natural. Para observar isso, descomente a linha abaixo.*/
  /*margin-top: 100px;*/
  position: relative;
  left:40%;
  top:60%;
  background-color:blue;
}
.quad-green {
  background-color:green;
  /*A posição absoluta faz com que o elemento tenha a posição relativa à posição em que ele deveria estar, mas com a consequência de que
    os outros elementos não são mais posicionados em relação a ele. 
    Caso queira fazer com que a posição absoluta de um elemento seja em relação a um container(elemento pai), o position do elemento pai 
    deve ser diferente de static. */
  position: absolute;
  top:70%;
}

.quad-black{
  /* O position 'sticky' faz com que o elemento fique posicionado normalmente em relação ao seu posicionamento natural. No entanto,
     deve-se definir um offset da viewport. Quando esse offset for atingido, então o elemento passa a ficar 'fixed'. No caso, o 
     offset é o 'top'. */
  background-color:black;
  position:sticky;
  top:0;
  width: 100%
}

.quad-pink {
  background-color:pink;
  /* A propriedade 'float' faz com que o elemento fique posicionado ao extremo esquerdo ou direito do seu container. Os elementos em linha
     serão posicionados ao seu redor. */
  float:left;
}

.texto-quad {
  color: white;
  position: absolute;
  top:40%;
  left:10%;
}

/* Isso aqui se chama Media Query. Basicamente, o que isso aqui faz é adaptar os elementos especificados para o tamanho da tela especificado.
   Existe o conceito de 'mobile first', em que o css é feito pensando no mobile e os media querys são feitos para tamanhos maiores, ou seja, 
   tamanhos de tela menores são priorizados. 
   
   Os elementos especificados no Media Query herdam tudo aquilo que é geral. Mas o que for específico é prioritário para aquele tamanho de tela.
   Esses exemplos ainda não estão 100%, mas é só um contato inicial.

   OBS: a ordem em que os media queries aparecem importa.
   */
@media screen and (max-width:900px){
  h1 {
    font-size:2rem;
  }
  #quadro {
    width:500px;
    font-size:2em;
  }
  #quadrado {
    overflow:scroll;
    width: 50px;
    height:50px;
  }
}
@media screen and (max-width:450px){
  h1 {
    font-size:1.5rem;
  }
  #quadro {
    width:300px;
  }
  #quadrado {
    width: 50px;
    height:50px;
  }
}
